<!DOCTYPE html>
<html>
<head>
  <title>Edit Patient</title>
  <%= stylesheet_link_tag 'edit.css' %>
</head>
<body>
<div class="container">
  <div class="box">
    <h2>Edit Patient</h2>
    <%= render 'form' %>
    <%= link_to 'Back', patients_path, class: "button" %>
  </div>
</div>
</body>
</html>
