.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.box {
    border: 1px solid #ccc;
    padding: 20px;
    width: 400px; /* Adjust the width as needed */
    background-color: rgba(245, 245, 245, 0.7);
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}
